<%= form_with(model: account_transaction, class: "w-75") do |form| %>
  <% if account_transaction.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(account_transaction.errors.count, "error") %> prohibited this account_transaction from being saved:</h2>

      <ul>
        <% account_transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :transaction_value, class: "form-label" %>
    <%= form.text_field :transaction_value, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :kind, class: "form-label" %>
    <%= form.collection_select :kind, @kinds, :to_s, :to_s,  {}, { class: 'form-select'} %>
  </div>

  <div class="mb-3">
    <%= form.label :destination_bank_account, class: "form-label" %>
    <p>Inform when the transaction is of the transfer kind</p>
    <%= form.text_field :destination_bank_account, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :password_confirmation, class: "form-label" %>
    <%= form.password_field :password_confirmation, class: "form-control" %>
  </div>

  <div>
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
