<!DOCTYPE html>
<html>
  <head>
    <title>BrokenBank</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>

    <div class="d-flex flex-row mb-3">
      <div class="p-2">
        <%= button_to destroy_client_session_path, class: "btn btn-primary" , method: :delete do %>
          Logout
        <% end %>
      </div>

      <div class="p-2">
        <%= link_to edit_client_registration_path, class: "btn btn-primary" do %>
          Edit Client
        <% end %> 
      </div>

      <% unless current_client.bank_accounts.active.first %>
        <div class="p-2">
          <%= button_to home_new_account_path, class: "btn btn-primary" do %>
            New Account
          <% end %> 
        </div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
